.phalcon
.idea
vendor/
docker-compose.override.yml
config/config.php
.env
themes/phlexus-tabler-admin
public/assets/themes
!public/assets/1/1/example_file
!public/assets/1/2/example_file
public/assets/1/1/*
public/assets/1/2/*
composer.lock
